@import "bootstrap";

body {
    font-family: "Share Tech Mono", monospace;
}

table.table td,
table.table th {
    background-color: black !important;
    color: white !important;
}

table th:first-child {
    border-top-left-radius: 10px;
}

table th:last-child {
    border-top-right-radius: 10px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}